.banner{
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    padding: 305px 0;
    @include max-screen(786px){
        padding: 200px 0;
    }
    @include max-screen(425px){
        padding: 150px 0 100px;
    }
    div{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 15px;
        box-sizing: border-box;
        h1{
            color: white;
            font-family: "Montserrat Bold", sans-serif;
            font-size: 52px;
            margin-bottom: 10px;
            @include max-screen(786px){
                font-size: 40px;
            }
            span{
                color: $brand;
                font-family: "Montserrat Bold", sans-serif;
            }
        }
        p{
            color: white;
            margin-bottom: 55px;
        }
        a{
            padding: 10px 50px;
            background-color: $brand;
            color: #ffffff;
            border: 1px solid $brand;
            border-radius: 30px;
            font-family: "Montserrat Bold", sans-serif;
            font-size: 14px;
            transition: 0.3s;
            &:hover{
                background-color: #ffffff;
                color: $brand;
            }
        }
    }
}