.contact{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    .flex{
        padding: 90px 0;
        max-width: 1000px;
        margin: auto;
        color: white;
        display: flex;
        justify-content: space-between;
        div{
            h2{
                font-size: 52px;
                font-family: "Montserrat Bold", sans-serif;
                margin-bottom: 38px;
            }
            h3{
                color: #878787;
                line-height: 35px;
                span{
                    color: $brand;
                }
            }
            p{
                font-size: 12px;
                margin-bottom: 15px;
            }
        }
        form{
            text-align: center;
            width: 48%;
            padding: 7px 0;
            input{
                background: initial;
                border: 1px solid #878787;
                padding: 15px 20px;
                width: 100%;
                border-radius: 3px;
                color: white;
                margin-bottom: 15px;
                box-sizing: border-box;
            }
            textarea{
                width: 100%;
                padding: 15px 20px;
                border: 1px solid #878787;
                border-radius: 3px;
                resize: none;
                background: initial;
                color: white;
                box-sizing: border-box;
                margin-bottom: 15px;
            }
            button{
                @extend %blue-link
            }
        }
    }
}