@import url(../fonts/stylesheet.css);
@import url(../fonts/fontawesome/web-fonts-with-css/css/fontawesome-all.min.css);
.services a, .about div a, .team .flex .pic a, .contact .flex form button {
  padding: 10px 30px;
  background-color: #2ebaee;
  color: #ffffff;
  border: 1px solid #2ebaee;
  border-radius: 30px;
  font-family: "Montserrat Bold", sans-serif;
  font-size: 12px;
  transition: 0.3s; }
  .services a:hover, .about div a:hover, .team .flex .pic a:hover, .contact .flex form button:hover {
    background-color: #ffffff;
    color: #2ebaee; }

* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat Regular", sans-serif;
  letter-spacing: 1px; }

a {
  color: inherit;
  text-decoration: none; }

p {
  font-size: 12px;
  color: #878787; }

header {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  width: 100%; }
  header .container-fluid {
    display: flex;
    justify-content: space-between;
    max-width: 1815px;
    margin: auto;
    padding: 35px 75px;
    box-sizing: border-box; }
    @media screen and (max-width: 786px) {
      header .container-fluid {
        padding: 30px 40px; } }
    @media screen and (max-width: 786px) {
      header .container-fluid {
        padding: 30px 20px; } }
    header .container-fluid .logo img {
      max-width: 120px; }
    header .container-fluid .menu {
      display: flex; }
      header .container-fluid .menu .form .search-opener {
        color: white;
        position: relative;
        z-index: 12;
        font-size: 14px;
        top: 10px;
        margin-right: 0;
        margin-left: 25px;
        transition: 0.3s; }
        @media screen and (max-width: 786px) {
          header .container-fluid .menu .form .search-opener {
            font-size: 20px;
            margin-left: 0;
            top: 10px;
            margin-right: 40px; } }
        header .container-fluid .menu .form .search-opener:hover {
          color: #39b9ef; }
        header .container-fluid .menu .form .search-opener i {
          position: absolute; }
          header .container-fluid .menu .form .search-opener i:nth-child(1) {
            display: inline-block; }
          header .container-fluid .menu .form .search-opener i:nth-child(2) {
            display: none; }
      header .container-fluid .menu .form .search-closer {
        position: relative; }
        header .container-fluid .menu .form .search-closer i:nth-child(1) {
          display: none; }
        header .container-fluid .menu .form .search-closer i:nth-child(2) {
          display: inline-block; }
      header .container-fluid .menu .form .form-drop {
        position: fixed;
        z-index: 11;
        background: #000000;
        padding: 200px 50px;
        box-sizing: border-box;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        transform-origin: right top;
        transform: scale(0);
        visibility: hidden;
        transition: all 0.4s ease-in-out;
        overflow: hidden;
        display: inline-block; }
        header .container-fluid .menu .form .form-drop.open {
          opacity: 0.9;
          visibility: visible;
          transform: scale(1); }
        header .container-fluid .menu .form .form-drop .form-search {
          width: 100%;
          display: flex;
          justify-content: center; }
          header .container-fluid .menu .form .form-drop .form-search input {
            width: 500px;
            padding: 10px 15px;
            background-color: initial;
            border: 1px white solid;
            border-radius: 20px;
            box-sizing: border-box;
            color: #ffffff;
            margin: 10px; }
            @media screen and (max-width: 786px) {
              header .container-fluid .menu .form .form-drop .form-search input {
                width: 100%;
                margin: 0; } }
          header .container-fluid .menu .form .form-drop .form-search button {
            background-color: initial;
            padding: 10px;
            border-radius: 20px;
            border: 1px solid white;
            color: white;
            transition: 0.3s;
            margin: 10px; }
            @media screen and (max-width: 786px) {
              header .container-fluid .menu .form .form-drop .form-search button {
                margin: 0; } }
            header .container-fluid .menu .form .form-drop .form-search button:hover {
              color: #39b9ef;
              border: 1px solid #39b9ef; }
      header .container-fluid .menu .navBurger {
        display: none; }
        @media screen and (max-width: 1024px) {
          header .container-fluid .menu .navBurger {
            display: inline-block; } }
      header .container-fluid .menu .overlay {
        display: inline-block;
        text-align: right; }
        header .container-fluid .menu .overlay nav {
          display: inline-block; }
          header .container-fluid .menu .overlay nav ul {
            margin: 10px 0 0;
            list-style: none;
            font-family: 'Montserrat Regular', sans-serif;
            font-size: 14px;
            line-height: 14px; }
            header .container-fluid .menu .overlay nav ul li {
              display: inline-block;
              margin: 0 20px; }
              header .container-fluid .menu .overlay nav ul li a {
                display: block;
                color: #ffffff;
                position: relative;
                transition: 0.3s; }
                header .container-fluid .menu .overlay nav ul li a:after {
                  content: '';
                  position: absolute;
                  height: 2px;
                  left: 0;
                  right: 0;
                  background: #39b9ef;
                  top: 100%;
                  opacity: 0;
                  visibility: hidden;
                  transition: 0.3s; }
                  @media screen and (max-width: 1024px) {
                    header .container-fluid .menu .overlay nav ul li a:after {
                      top: 100%; } }
                header .container-fluid .menu .overlay nav ul li a:hover {
                  color: #39b9ef; }
                header .container-fluid .menu .overlay nav ul li a:hover:after {
                  opacity: 1;
                  visibility: visible; }
              header .container-fluid .menu .overlay nav ul li.active-link a {
                color: #39b9ef; }
                header .container-fluid .menu .overlay nav ul li.active-link a:after {
                  content: '';
                  position: absolute;
                  height: 2px;
                  left: 0;
                  right: 0;
                  background: #39b9ef;
                  top: 100%;
                  opacity: 1;
                  visibility: visible; }

@media screen and (max-width: 1024px) {
  .navBurger {
    display: inline-block;
    box-sizing: border-box;
    margin-top: 20px;
    margin-bottom: 5px;
    z-index: 11;
    background: #ffffff;
    width: 35px;
    height: 2px;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
    order: 1; }

  .navBurger:before, .navBurger:after {
    content: "";
    position: absolute;
    background: #ffffff;
    height: 2px;
    width: 35px;
    right: 0;
    will-change: rotate;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease; }

  .navBurger:before {
    top: -10px; }

  .navBurger:after {
    bottom: -10px;
    width: 35px; }

  .navBurger.active {
    background: transparent;
    background-clip: content-box; }

  .navBurger.active:before {
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
    top: 0;
    background: #ffffff;
    width: 110%; }

  .navBurger.active:after {
    bottom: 0;
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
    background: #ffffff;
    width: 110%; }

  div.overlay {
    position: fixed;
    z-index: 10;
    background: #000000;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transform-origin: right top;
    transform: scale(0);
    visibility: hidden;
    transition: all 0.4s ease-in-out;
    overflow: hidden;
    display: inline-block; }

  .overlay.open {
    opacity: 0.9;
    visibility: visible;
    transform: scale(1); }

  .overlay.open li {
    display: block;
    animation: fadeInRight 0.4s cubic-bezier(0.42, 0.83, 0.7, 1.5) forwards; }

  .nav {
    position: absolute;
    text-align: center;
    right: 10vw;
    top: 15vh; }

  .nav ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: block;
    position: relative;
    height: 100%; }

  .nav ul li {
    display: block;
    position: relative;
    opacity: 1;
    width: 100%; }

  .nav ul li a {
    display: inline-block;
    border: none;
    color: #000000;
    text-decoration: none;
    font-size: 20px;
    padding: 10px 40px 10px 40px;
    margin: 5px 0;
    transition: 0.2s; }

  .nav ul li a:hover, .nav ul li a:active, .nav ul li a:focus {
    background: rgba(255, 255, 255, 0.03); } }
.locked {
  overflow: hidden; }

.banner {
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  padding: 305px 0; }
  @media screen and (max-width: 786px) {
    .banner {
      padding: 200px 0; } }
  @media screen and (max-width: 425px) {
    .banner {
      padding: 150px 0 100px; } }
  .banner div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 15px;
    box-sizing: border-box; }
    .banner div h1 {
      color: white;
      font-family: "Montserrat Bold", sans-serif;
      font-size: 52px;
      margin-bottom: 10px; }
      @media screen and (max-width: 786px) {
        .banner div h1 {
          font-size: 40px; } }
      .banner div h1 span {
        color: #2ebaee;
        font-family: "Montserrat Bold", sans-serif; }
    .banner div p {
      color: white;
      margin-bottom: 55px; }
    .banner div a {
      padding: 10px 50px;
      background-color: #2ebaee;
      color: #ffffff;
      border: 1px solid #2ebaee;
      border-radius: 30px;
      font-family: "Montserrat Bold", sans-serif;
      font-size: 14px;
      transition: 0.3s; }
      .banner div a:hover {
        background-color: #ffffff;
        color: #2ebaee; }

.services {
  padding: 80px 0;
  text-align: center;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffffff+48,000000+48,ffffff+48,ffffff+48,000000+48,000000+48,000000+48,000000+48,000000+48 */
  background: white;
  /* Old browsers */
  background: -moz-linear-gradient(-57deg, white 48%, #2ebaee 48%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(-57deg, white 48%, #2ebaee 48%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(147deg, white 48%, #2ebaee 48%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#2ebaee',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */ }
  .services h2 {
    text-align: center;
    font-family: "Montserrat Bold", sans-serif;
    font-size: 34px;
    padding-bottom: 50px;
    color: #242424; }
  .services .serv-var {
    text-align: left;
    max-width: 1000px;
    margin: 0 auto 60px;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #e7e7e7;
    padding-top: 60px; }
    @media screen and (max-width: 786px) {
      .services .serv-var {
        flex-direction: column;
        align-items: center;
        max-width: 400px;
        padding: 60px 15px 15px 0; } }
    .services .serv-var div {
      max-width: 24%;
      padding: 5px;
      box-sizing: border-box; }
      @media screen and (max-width: 786px) {
        .services .serv-var div {
          text-align: center;
          max-width: 80%; } }
      .services .serv-var div img {
        height: 50px;
        margin-bottom: 25px; }
      .services .serv-var div h3 {
        font-size: 16px;
        margin-bottom: 25px;
        color: #242424; }
  .services .serv-present {
    margin: 150px auto 0;
    display: flex;
    justify-content: space-around;
    max-width: 1000px; }
    @media screen and (max-width: 786px) {
      .services .serv-present {
        flex-direction: column;
        align-items: center;
        max-width: 400px; } }
    .services .serv-present div {
      max-width: 58%;
      text-align: left; }
      .services .serv-present div img {
        max-width: 100%; }
      .services .serv-present div .reader {
        max-width: 80%;
        margin-bottom: 30px; }
      @media screen and (max-width: 786px) {
        .services .serv-present div {
          max-width: 100%;
          text-align: center; } }
    .services .serv-present .txt {
      max-width: 36%; }
      @media screen and (max-width: 786px) {
        .services .serv-present .txt {
          max-width: 80%; } }
      .services .serv-present .txt h2 {
        text-align: left;
        font-size: 30px; }
        @media screen and (max-width: 786px) {
          .services .serv-present .txt h2 {
            color: white; } }
      .services .serv-present .txt p {
        margin-bottom: 50px; }
        @media screen and (max-width: 786px) {
          .services .serv-present .txt p {
            color: white; } }
      @media screen and (max-width: 786px) {
        .services .serv-present .txt a {
          padding: 10px 30px;
          background-color: #ffffff;
          color: #2ebaee;
          border: 1px solid #ffffff;
          border-radius: 30px;
          font-family: "Montserrat Bold", sans-serif;
          font-size: 14px;
          transition: 0.3s; }
          .services .serv-present .txt a:hover {
            background-color: #2ebaee;
            color: #ffffff; } }
      .services .serv-present .txt .white-link {
        padding: 10px 30px;
        background-color: #ffffff;
        color: #2ebaee;
        border: 1px solid #ffffff;
        border-radius: 30px;
        font-family: "Montserrat Bold", sans-serif;
        font-size: 14px;
        transition: 0.3s; }
        .services .serv-present .txt .white-link:hover {
          background-color: #2ebaee;
          color: #ffffff; }
      .services .serv-present .txt .white-txt {
        color: white; }
  .services .reverse {
    display: flex;
    justify-content: space-around; }
    @media screen and (max-width: 786px) {
      .services .reverse {
        flex-direction: column-reverse; } }

.about {
  display: flex; }
  @media screen and (max-width: 768px) {
    .about {
      flex-direction: column;
      align-items: center; } }
  .about div {
    max-width: 50%; }
    @media screen and (max-width: 768px) {
      .about div {
        max-width: 100%;
        padding-bottom: 30px; } }
    .about div img {
      max-width: 100%; }
    .about div h4 {
      padding: 80px 30px 30px 40px;
      color: #242424;
      font-size: 30px;
      max-width: 300px; }
      @media screen and (max-width: 1150px) {
        .about div h4 {
          padding: 0 15px 15px 30px;
          font-size: 26px; } }
    .about div p {
      margin-bottom: 30px;
      padding: 30px 30px 30px 40px;
      max-width: 400px; }
      @media screen and (max-width: 1150px) {
        .about div p {
          padding: 0 30px 15px;
          margin-bottom: 15px; } }
    .about div a {
      margin: 40px; }
      @media screen and (max-width: 1150px) {
        .about div a {
          margin: 15px 30px; } }

.team {
  max-width: 1000px;
  margin: auto;
  padding: 50px 0 70px;
  box-sizing: border-box; }
  .team h2 {
    font-family: "Montserrat Bold", sans-serif;
    font-size: 44px;
    color: #242424;
    margin-bottom: 50px; }
    .team h2 span {
      font-family: "Montserrat Bold", sans-serif;
      color: #2ebaee;
      display: block; }
  .team .flex {
    display: flex; }
    .team .flex .pic {
      text-align: center;
      padding: 0 23px; }
      .team .flex .pic img {
        width: 70%;
        border-radius: 250px; }
      .team .flex .pic h3 {
        font-size: 20px;
        margin-top: 15px;
        margin-bottom: 5px;
        color: #242424; }
      .team .flex .pic p {
        margin-bottom: 30px; }

.contact {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }
  .contact .flex {
    padding: 90px 0;
    max-width: 1000px;
    margin: auto;
    color: white;
    display: flex;
    justify-content: space-between; }
    .contact .flex div h2 {
      font-size: 52px;
      font-family: "Montserrat Bold", sans-serif;
      margin-bottom: 38px; }
    .contact .flex div h3 {
      color: #878787;
      line-height: 35px; }
      .contact .flex div h3 span {
        color: #2ebaee; }
    .contact .flex div p {
      font-size: 12px;
      margin-bottom: 15px; }
    .contact .flex form {
      text-align: center;
      width: 48%;
      padding: 7px 0; }
      .contact .flex form input {
        background: initial;
        border: 1px solid #878787;
        padding: 15px 20px;
        width: 100%;
        border-radius: 3px;
        color: white;
        margin-bottom: 15px;
        box-sizing: border-box; }
      .contact .flex form textarea {
        width: 100%;
        padding: 15px 20px;
        border: 1px solid #878787;
        border-radius: 3px;
        resize: none;
        background: initial;
        color: white;
        box-sizing: border-box;
        margin-bottom: 15px; }

/*# sourceMappingURL=main.css.map */
